<!-- Inicio do conteudo do administrativo -->
<div class="wrapper">
    <div class="row">
        <div class="top-list">
            <span class="title-content">EDITAR SENHA</span>
            <div class="top-list-right">
                <a href="/profile" class="btn-info">Perfil</a>
            </div>
        </div>

        {{>_msgAdm}}

        <div class="content-adm">
             <div class="content-adm">
                    <form class="form-adm" action="/profile/edit-password" method="post">
                    <input type="hidden" name="id" id="id" value="{{data.id}}">
                        
                        <div class="row-input">
                            <div class="column">
                                <label class="title-input">Senha:<span class="text-danger">*</span></label>
                                <input type="password" name="password" id="password" class="input-adm" placeholder="Digite a sua nova senha" value="{{data.password}}">
                            </div>
                        </div>

                       
                        <p class="text-danger mb-5 fs-4">* campo obrigatório</p>

                        <input type="submit" class="btn-warning" value="Editar Senha">
                    </form>
               
        </div>  
    </div>
</div>
<!-- Fim do conteudo do administrativo -->