<!-- Inicio da Sidebar -->
<div class="sidebar">

    <a href="/dashboard" class="sidebar-nav {{#if sidebarDashboard }} active {{/if }}"><i class="icon fa-solid fa-house"></i><span>Dashboard</span></a>

    <a href="/users?page=1" class="sidebar-nav {{#if sidebarUsers }} active {{/if }}"><i class="icon fa-solid fa-users"></i><span>Usuários</span></a>    

    <a href="/situations?page=1" class="sidebar-nav {{#if sidebarSituations }} active {{/if }}"><i class="icon fa-solid fa-user-check"></i><span>Situações</span></a>  

    <a href="/login/logout" class="sidebar-nav"><i class="icon fa-solid fa-arrow-right-from-bracket"></i><span>Sair</span></a>

</div>
<!-- Fim da Sidebar -->