<div class="container-login">
    <div class="wrapper-login">
        <div class="title">
            <span>Recuperar Senha</span>
        </div>

        <!-- Imprimir as mensagens que estão na sessão -->
        {{>_msg}}
        
        <!-- Formulário para solicitar novo link recuperar senha -->
        <form class="form-login" action="/recover-password/recover-password" method="post">

            <div class="row">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" id="email" placeholder="Seu e-mail de cadastrado" value="{{data.email}}">
            </div>

            <div class="row button">
                <input type="submit" value="Recuperar">
            </div>

            <div class="signup-link">
                <a href="/login">Clique aqui</a> para acessar
            </div>

        </form>
    </div>
</div>